/* Move down content because we have a fixed navbar that is 3.5rem tall */
a {
  color: #004d40;
}
a:hover {
  color: #4db6ac;
}

body {
  padding-top: 3.5rem;
}
.navbar {
  background: #004d40;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #a7ffeb;
  border-radius: 0.3rem;
}
.btn-primary {
  background: #004d40;
  border: 1px solid #333;
}
.btn-primary:hover {
  background: #333;
  color: #fff;
  border: 1px solid #333;
}
.btn-outline-success {
  color: #fff;
  background-color: #333;
  border-color: #fff;
}
.btn-outline-success:hover {
  color: #333;
  background-color: #ccc;
  border-color: #ccc;
}
.card {
  margin: 2px;
  max-width: 30%;
}
.card img {
  max-width: 307px;
  max-height: 170px;
  padding: 5px;
}

main img {
  float: left;
  padding: 0px 10px 10px 0px;
}
.bg-light {
  background-color: #c2c2c2 !important;
}
